{% extends 'base.html.twig' %}

{% block body %}
 
 <h1>Bienvenue dans ma page</h1>
<div class="bg-text">
  <h1> Mamasow Samb.</h1>
  <p> Date de naissance:07/08/2002</p>
  <p> Lieu de naissance:Dakar,Sénégal</p>
  <p>Profession: Etudiante en 1ère année but RT.</p>
  <p> Contact:0753684319</p>
  <p>e-mail : msowsamb02@gmail.com</p>
</div>

 <div class="container">
 
   <div class="card">
      <div class="box">
        <div class="content">
          
          <h3>A propos de moi...</h3>
          <p>Vous trouverez ci dessous une illustration regroupant mes loisirs,mes passions et mes envies.</p>
          <a href="/imagesae/imL.jpg">En savoir plus...</a>
		      
			</div>
		  
		   
		</div>  
     </div>
</div>
		
		
</body>
{% endblock %}